body.jside {
    padding:0;
    padding-top:40px;
}

nav.jsToolbar {
    height:40px;
    background: #e3e3e3;
    position:absolute;
    top:0;
    left:0;
    right:0;
}

nav.jsToolbar > ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:left;
}

nav.jsToolbar > ul > li {
    float:left;
}

nav.jsToolbar > ul > li a {
    border-radius:0;
    display:block;
    color:#333333;
    text-align:center;
    padding: 5px 12px;
    margin: 2px 0px;
    font-size:18px;
    transition:.1s;
}

nav.jsToolbar > ul > li a:hover {
    background: #eeeeee; 
}

nav.jsToolbar > ul > li a:active {
    background: #CCCCCC; 
}

nav.jsToolbar > ul.right {
    float:right;
}

div.editor {
    position:absolute;
    top:40px;
    bottom:0;
    left:0;
    right:0;
    font-size:16px;
}

.console {
    height:300px;
    background:black;
    color:green;
    padding: 5px 10px;
    overflow-y:scroll;
    overflow-wrap:break-word;
    overflow-x:hidden;
    word-wrap:break-word;
    font-family:Consolas;
    font-size:18px;
}

.console-input {
    width: 100%;
    max-width:100%;
    background:black;
    border: none;
    color:green;
    padding: 5px 10px;
}