#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 20px;
}

.mdl-layout__drawer .mdl-layout-title{
    height: 128px;
    display: flex;
    align-items: center;
    font-size: 36px;
}

.mdl-layout__drawer .mdl-layout-title img {
    height: 96px;
    margin-right: 16px;
}
